/* Defaults */
:root {
  --font-family-monospace: "PT Mono", Consolas, Menlo, Monaco, Andale Mono WT,
    Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New,
    Courier, monospace;

  /* --font-family: -apple-system, system-ui, sans-serif; */
  --font-family: var(--font-family-monospace);
}

/* Theme colors */
:root {
  --color-gray-20: #e0e0e0;
  --color-gray-50: #c0c0c0;
  --color-gray-90: #333;

  --txt-black: #1c1c1d;
  --txt-red: #96485a;

  --background-color: #ededee;
  --background-blue: #181879;
  --body-bg: black;

  /* --background-color: #1616a8; */
  --accent-purple: #76769f;
  --accent-green: #04f769;
  --accent-yellow: #d4d41e;
  --accent-bright-yellow: #fcfe1c;
  --accent-bright-red: #ff3b4f;

  --text-color: var(--txt-black);
  --text-color-link: var(--txt-red);
  --text-color-link-visited: var(--txt-red);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-gray-20: #e0e0e0;
    --color-gray-50: #c0c0c0;
    --color-gray-90: #dad8d8;

    /* --text-color is assigned to --color-gray-_ above */
    --text-color-link: #1493fb;
    --text-color-link-visited: #a6a6f8;

    --background-color: #15202b;
  }
}

/* Global stylesheet */
* {
  box-sizing: border-box;
}

html {
  background: var(--background-color);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  color: var(--text-color);
}

body {
  /* background: url("../img/space.jpg"); */
  background-color: var(--background-blue);
}

p:last-child {
  margin-bottom: 0;
}
p,
.tmpl-post li,
img {
  max-width: 37.5em; /* 600px /16 */
}
p,
.tmpl-post li {
  line-height: 1.45;
}

a[href] {
  color: var(--text-color-link);
}
a[href]:visited {
  color: var(--text-color-link-visited);
}

a:hover,
a[href]:hover:visited {
  background: black;
  color: white;
}

main {
  background: var(--background-color);
  padding: 1rem;
}

@media (min-width: 37.5em) {
  main {
    border-radius: 5px;
    display: grid;
    grid-template-columns: 67% 33%;
    margin: 0.5em auto;
    max-width: 960px;
  }
}

main :first-child {
  margin-top: 0;
}
header {
  background-color: var(--accent-purple);
  border-bottom: 3px solid var(--accent-bright-yellow);
  position: sticky;
  top: 0;
}
header:after {
  content: "";
  display: table;
  clear: both;
}

table {
  margin: 1em 0;
}
table td,
table th {
  padding-right: 1em;
}

.monospace {
  font-family: var(--font-family-monospace);
}

/* Header */
.home {
  font-family: var(--font-family-monospace);
  margin: 0;
  padding: 1rem;
  font-size: 0.75em; /* 24px /16 */
}

.home a[href] {
  background-color: var(--text-color);
  color: var(--background-color);
}

.home :link:not(:hover) {
  text-decoration: none;
}

/* Nav */
.nav {
  padding: 0;
  list-style: none;
  float: left;
  margin-left: 1em;
}
.nav-item {
  display: inline-block;
  margin-right: 1em;
}
.nav-item a[href]:not(:hover) {
  text-decoration: none;
}
.nav-item-active {
  font-weight: 700;
  text-decoration: underline;
}

/* Posts list */
.postlist {
  list-style: none;
  padding: 0;
}
.postlist-item {
  display: flex;
  flex-wrap: wrap;
  font-family: var(--font-family-monospace);
  align-items: baseline;
  line-height: 1.8;
  text-transform: uppercase;
}
.postlist-date,
.postlist-item:before {
  font-size: 0.8125em; /* 13px /16 */
  color: var(--color-gray-90);
}
.postlist-date {
  word-spacing: -0.5px;
}
.postlist-link {
  padding-left: 0.25em;
  padding-right: 0.25em;
  text-underline-position: from-font;
  text-underline-offset: 0;
  text-decoration-thickness: 1px;
}
.postlist-item-active .postlist-link {
  font-weight: bold;
}
.tmpl-home .postlist-link {
  font-size: 1.1875em; /* 19px /16 */
  font-weight: 700;
}

/* Tags */
.post-tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 0.75em; /* 12px /16 */
  padding: 0.08333333333333em 0.3333333333333em; /* 1px 4px /12 */
  margin-left: 0.6666666666667em; /* 8px /12 */
  margin-bottom: 0.5em; /* 6px /12 */
  color: var(--color-gray-90);
  border: 1px solid var(--color-gray-50);
  border-radius: 0.25em; /* 3px /12 */
  text-decoration: none;
  line-height: 1.8;
}
a[href].post-tag,
a[href].post-tag:visited {
  color: inherit;
}
a[href].post-tag:hover,
a[href].post-tag:focus {
  background-color: var(--color-gray-20);
}
.postlist-item > .post-tag {
  align-self: center;
}

/* Infobox */
:root {
  --color-infobox: #ffc;
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-infobox: #082840;
  }
}

.infobox {
  background-color: var(--color-infobox);
  color: var(--color-gray-90);
  padding: 1em 0.625em; /* 16px 10px /16 */
}
.infobox ol:only-child {
  margin: 0;
}

/* Direct Links / Markdown Headers */
.direct-link {
  font-family: sans-serif;
  text-decoration: none;
  font-style: normal;
  margin-left: 0.1em;
}
a[href].direct-link,
a[href].direct-link:visited {
  color: transparent;
}
a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: #aaa;
}

footer {
  background-color: var(--accent-green);
  border-top: 3px solid var(--txt-red);
  font-size: 0.8125em; /* 13px /16 */
}

footer .attribution {
  font-style: italic;
  max-width: 100%;
}

/**
  post template specific styles
**/
.post-title {
  font-family: var(--font-family-monospace);
  font-size: 0.875em; /* 14px /16 */
  text-transform: uppercase;
}

.content-section {
  border: 1px solid var(--accent);
  border-radius: 4px;
  padding: 0.5em;
}

/*****

SIDEBAR

*****/
.sidebar {
  padding: 1em;
}

.sidebar .widget {
  margin-bottom: 3em;
}

.sidebar h2 {
  font-size: 1em;
  text-transform: uppercase;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 0.5em;
}

.sidebar .widget .post-tag {
  display: block;
}

.sidebar input,
.sidebar label,
.sidebar textarea {
  display: block;
}

.sidebar label {
  margin-bottom: 1.5em;
}

.sidebar button[type="submit"] {
  background-color: var(--txt-red);
  border: none;
  border-radius: 4px;
  color: var(--background-color);
  font-family: var(--font-family-monospace);
  cursor: pointer;
  font-size: 1em;
  padding: 0.5em 1em;
}

.req {
  color: var(--txt-red);
  font-weight: bold;
}
