---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
{% set maxPosts = collections.published.length | min(3) %}
<h1 class="monospace">Latest Posts</h1>

{% set postslist = collections.published | head(-10) %}
{% set postslistCounter = collections.published | length %}
{% include "postslist.njk" %}

{# <p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p> #}
