<form netlify name="contact">
    <label>
        Return Email
        <input type="email" name="email" id="email" />
    </label>

    <label>
        Message <span class="req">*</span>
        <textarea name="message" id="message" rows="5" required></textarea>
    </label>

    <button type="submit">Send</button>
</form>