<aside class="sidebar">
    <div class="widget">
        <h2>Feeds</h2>
        <ul>
            <li><a href="/feed/feed.xml">RSS</a></li>
            <li><a href="/feed/feed.json">JSON</a></li>
        </ul>
    </div>
</aside>