<!doctype html>
<html lang="{{ metadata.language }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">

    <meta name="generator" content="{{ eleventy.generator }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
  </head>
  <body>
    <header>
      <h1 class="home"><a href="{{ '/' | url }}">{{ metadata.title }}</a></h1>
    </header>

    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      <section class="content-section">
          {{ content | safe }}
      </section>
      <aside>
        {% include 'sidebar.njk' %}
      </aside>
    </main>

    <footer>
      {# <p class="attribution">
        "<a target="_blank" rel="noopener noreferrer" href="https://www.flickr.com/photos/24662369@N07/8474470646">NASA's Fermi Proves Supernova Remnants Produce Cosmic Rays</a>" by 
          <a target="_blank" rel="noopener noreferrer" href="https://www.flickr.com/photos/24662369@N07">
            NASA Goddard Photo and Video
          </a> is licensed under 
          <a target="_blank" rel="noopener noreferrer" href="https://creativecommons.org/licenses/by/2.0/?ref=openverse">
            CC BY 2.0 
            <img src="https://mirrors.creativecommons.org/presskit/icons/cc.svg" style="height: 1em; margin-right: 0.125em; display: inline;"></img>
            <img src="https://mirrors.creativecommons.org/presskit/icons/by.svg" style="height: 1em; margin-right: 0.125em; display: inline;"></img>
        </a>. 
      </p> #}
    </footer>

    <!-- Current page: {{ page.url | url }} -->

    <script src="{{ '/js/theme.js' | url }}" async></script>
</html>
